<%- include ("partials/header") -%>

    <div class="container-fluid main3">
        <h1>
            <%= user %>'s Todolist
        </h1>
        <form action="/add" method="POST" class="add">
            <div class="input-group">
                <input type="text" name="item" class="form-control">
                <input type="hidden" name="user" value="<%= user %>">
                <button type="submit" class="btn btn-primary btn2">+</button>
            </div>
        </form>
        <div class="container">
            <% list.forEach(function (element) { %>
                <form class="list-element" method="POST" action="/updateStatus">
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group">
                                <% if (element.check==="False" ) { %>
                                    <input type="checkbox" id="<%= element.id %>" onchange="this.form.submit()">
                                    <label for="<%= element.id %>" id="<%= element.id %>" class="form-label list-item">
                                        <%= element.text %>
                                    </label>
                                <% } else { %>
                                    <input type="checkbox" id="<%= element.id %>" onchange="this.form.submit()"
                                        checked>
                                    <label for="<%= element.id %>" id="<%= element.id %>"
                                        class="form-label list-item strikeThrough">
                                        <%= element.text %>
                                    </label>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-4 listedit">
                            <button class="btn btn-outline-primary my-small-btn" type="button" id="<%= element.id %>"><i
                                    class="fas fa-pen"></i></button>
                            <button type="submit" formaction="/delete" class="btn btn-outline-danger my-small-btn"><i
                                    class="fas fa-trash-alt delete"></i></button>
                        </div>
                    </div>
                    <input type="hidden" value="<%= element.id %>" name="elemID">
                    <input type="hidden" value="<%= userID %>" name="userId">
                    <div class="input-group editMenu" id="<%= element.id %>">
                        <input type="text" value="<%= element.text %>" name="list_name" class="form-control">
                        <button type="submit" formaction="/update" class="btn btn-primary">Save</button>
                    </div>
                </form>
            <% }); %>
        </div>
    </div>
    <div id="container" class="out">
        <button type="submit" class="btn btn-warning btn-lg btn-block"
            onclick="location.href='/logout';">Logout</button>
    </div>
    <script src="js/main.js"></script>

<%- include ("partials/footer") -%>
